<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('carousel/carousel_01.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('carousel/carousel_02.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('carousel/carousel_03.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('carousel/carousel_04.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('carousel/carousel_05.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('carousel/carousel_06.jpg') %>
    </div>
  </div>
</div>