<div class="row">
  <div class="col-md-9">
    <div class="row section-container">
      <div class="box-shadow"></div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5">

            <div class="row">
              <div class="col-xs-12 product-title-text">
                <div style="font-size: 100px; line-height: 65px; margin-top: 15%; padding-right: 20px">ST-100</div>
              </div>
            </div>

            <div class="row" style="margin-top: -15px">
              <div class="col-xs-12" style="font-size: 19px">
                <div>Unparalleled Versatility and Quality</div>
              </div>
            </div>

            <div class="row" style="margin-top: 80px">
              <div class="col-xs-12" style="font-size: 22px; font-family: proxima_nova-semibold">
                Buy now on IndieGoGo!
              </div>
            </div>

            <div class="row" style="margin-top: 15px">
              <div class="col-xs-12">
                <a href="http://igg.me/at/strahlenlights/x/5621587" class="btn btn-warning" style="font-size: 15px">Buy the ST-100 on IndieGoGo</a>
              </div>
            </div>

            <div class="row" style="margin-top: 15px; margin-bottom: 15px">
              <div class="col-xs-12">
                <a href="/info" class="btn btn-default" style="font-size: 15px">Learn More About the ST-100</a>
              </div>
            </div>
          </div>

          <div class="col-md-7">
            <%= render :partial => 'static_pages/carousel' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="min-height: 112px">

          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="col-md-3 text-right" style="padding-right: 0">
      <iframe src="http://www.indiegogo.com/project/604340/widget/5621587" width="224px" height="486px" frameborder="0" scrolling="no"></iframe>
  </div>
</div>





<br><br>

<div class="row" style="margin-left: -15px; margin-right:-15px">
  <div class="col-md-3">
    <div class="section-container box-shadow">
      <%= link_to(image_tag('home_bottom/strahlen_home_bottom_01.jpg', :class => 'img-responsive'), info_path(:anchor => 'led_technology') ) %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="section-container box-shadow">
        <%= link_to(image_tag('home_bottom/strahlen_home_bottom_02.jpg', :class => 'img-responsive'),  info_path(:anchor => 'creative_flexibility'))%>
    </div>
  </div>
  <div class="col-md-3">
    <div class="section-container box-shadow">
      <%= link_to(image_tag('home_bottom/strahlen_home_bottom_03.jpg', :class => 'img-responsive'), info_path(:anchor => 'built_to_last') ) %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="section-container box-shadow">
        <%= link_to(image_tag('home_bottom/strahlen_home_bottom_04.jpg', :class => 'img-responsive'), info_path(:anchor => 'integrated_design') ) %>
    </div>
  </div>
</div>


<br><br>