<% content_for :additional_nav do %>
    <div class="row">
      <div class="col-md-12 section-container" style="margin-top: 20px">
        <div class="box-shadow"></div>
        <div class="row">
          <div class="col-md-4 product-title-text">
            <div>
                ST-100
            </div>
          </div>
          <div class="col-md-8 text-right product-specs">
            <button class="btn btn-warning" data-toggle="modal" data-target="#specs-modal" style="font-size: 18px">Just the specs</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <nav class="navbar navbar-default navbar-static-top center" role="navigation" id="feature-nav">
              <div class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#led_technology">LED Technology</a></li>
                  <li><a href="#industry_standard">Industry Standard</a></li>
                  <li><a href="#creative_flexibility">Creative Flexibility</a></li>
                  <li><a href="#built_to_last">Built to Last</a></li>
                  <li><a href="#integrated_design">Integrated Design</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
<% end %>




  <section id="feature-list-section" >
    <div class="row section-container" style="margin-bottom: 50px; background-color: #fff">
      <div class="box-shadow"></div>
      <div class="col-md-12 text-center" style="padding-bottom: 15px">
        <%= image_tag('info_page/header.jpg', :class => 'img-responsive') %>
      </div>
    </div>
  </section>



  <section class="row section-container" style="margin-bottom: 50px">
    <div class="box-shadow"></div>
    <div class="col-md-12">




    <div class="row off-white" id="led_technology" style="min-height: 452px" >
      <div class="col-md-6 no-padding">
        <%= image_tag('info_page/info_01.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6" style="padding-top: 40px">
        <h1>LED Technology</h1>
        <h2>Quality you can see</h2>
        <br>
        With over 9000 lumens and a CRI of 90, it's easy to see what separates the ST-100 from other LED lights.
        <br><br>

        <div class="row">
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-4 border-right led-spec-col">
                <div class="row">
                  <div class="col-xs-12">
                    100
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    Watts
                  </div>
                </div>

              </div>
              <div class="col-xs-3 border-right led-spec-col">
                <div class="row">
                  <div class="col-xs-12">
                    90
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    CRI
                  </div>
                </div>
              </div>
              <div class="col-xs-4  led-spec-col">
                <div class="row">
                  <div class="col-xs-12">
                    +9000
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    Lumens
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <br><br>

        <div class="row">
          <div class="col-xs-6">
            <table>
                <tr>
                  <td></td>
                  <td>4ft</td>
                  <td>8ft</td>
                  <td>12ft</td>
                </tr>
                <tr>
                  <td>Lux:</td>
                  <td>1630</td>
                  <td>470</td>
                  <td>230</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row odd" id="industry_standard"  style="min-height: 322px">
      <div class="col-md-6" style="padding-top: 40px; padding-right: 0px">
        <h1>Industy Standard</h1>
        <h2>The same old, updated</h2>
        <br>
        Moving to LEDs doesn't mean you lose your standard color temperatures or quality.
        The ST-100 includes tungsten- and daylight-balanced models, as well as a bi-color option.
      </div>
      <div class="col-md-6 no-padding text-right">
        <%= image_tag('info_page/info_02.jpg', class: 'img-responsive') %>
      </div>
    </div>


    <div class="row off-white" id="creative_flexibility" style="min-height: 386px">
      <div class="col-md-6 no-padding">
        <%= image_tag('info_page/info_03.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6" style="padding-top: 40px">
        <h1>Creative Flexibility</h1>
        <h2>Let freedom reign</h2>
        <br>
        Softboxes, reflectors, barn doors, snoots, gels, bare bulb, open face - you name it, the ST-100 can handle it.
        Let your creativity run free with unbeatable flexibility and control.
        <br><br>


        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-3 creative-col">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        S-type
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        Mount
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-4 creative-col">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        10-100%
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        Dimmable
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-5 creative-col">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        Flicker-free
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        No Color Shift
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="row odd" id="built_to_last" style="min-height: 403px">
      <div class="col-md-6" style="padding-top: 40px">
        <h1>Built to Last</h1>
        <h2>All-aluminum. All ready to go.</h2>
        <br>
        A combination of sturdy and lightweight aluminum and silent,
        active cooling give you confidence in knowing the ST-100 is ready for even the toughest environments.<br>
        <br>

        <div class="row">
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-4 built-spec-col">
                <div class="row">
                  <div class="col-xs-12">
                    5.8
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    pounds
                  </div>
                </div>
              </div>
              <div class="col-xs-5 text-center" style="padding-left: 0; padding-right: 0">
                <div class="text-left" style="display: inline-block">
                  <div>L 16.5"</div>
                  <div>W 7.5"</div>
                  <div>H 5.5"</div>
                </div>
              </div>
              <div class="col-xs-3 built-spec-col" style="padding-left: 0">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    18
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    dBa
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 no-padding text-right">
        <%= image_tag('info_page/info_04.jpg', class: 'img-responsive') %>
      </div>
    </div>

    <div class="row off-white" id="integrated_design" style="min-height: 306px">
      <div class="col-md-6 no-padding">
        <%= image_tag('info_page/info_05.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6" style="padding-top: 40px">
        <h1>Integrated Design</h1>
        <h2>Making your life easy</h2>
        <br>
        The ST-100 is entirely self-contained and utilizes a standard AC power port - eliminating the need
        to carry around a separate proprietary power supply.
      </div>
    </div>

    </div>
  </section>

  </section>

<%= render :partial => 'static_pages/specs' %>